---
import '@/styles/global.css';
import Navbar from '@/components/navbar.tsx';
import Footer from '@/components/Footer.astro';
const { pageTitle, description, module } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="description" content={description || ''} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description || ''} />
    <meta property="og:type" content="website" />
  </head>
  <body class="bg-zinc-50 text-zinc-800 dark:bg-zinc-900 dark:text-zinc-100 font-sans">
      <Navbar module={module} />

      <main class="flex-grow mt-4">
        <slot />
      </main>

      <Footer />
  </body>
</html>
